.outer_table_wrapper {
    padding-top: 1px;
}

.table_wrapper {
    width: 90%;
    margin: 20px auto;
    padding-top: 0px;
    overflow-x: auto;
    height: calc(100vh - 240px);    
}

.prod_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table_wrapper table {
    width: 100%;
}

.table_icon {
    width: 20px;
    cursor: pointer;
}

.table_img_wrapper {
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 2px 1px #333;
    border-radius: 5px;
}

.table_img_wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.table_wrapper table tr th {
    padding: 10px;
    background-color: #f06f30;
    color: #fff;
    font-size: 14px;
    border: 1px solid #f06f30;
}

.table_wrapper table tr td {
    padding: 15px 10px;
    border-bottom: 1px solid #333;

}

.table_wrapper table tr td:first-child {
    border-left: 1px solid #333;
}

.table_wrapper table tr td:last-child {
    border-right: 1px solid #333;
}

.total_row h1 {
    font-size: 34px;
}

.total_row h2 {
    font-size: 22px;
    text-align: right;
}

.no_data {
    padding: 20px 10px;
    font-size: 22px;
    border: 1px solid #333;
}

.order_btn {
    border-color: #7eac39;
    color: #fff;
    box-shadow: 0 0 40px 40px #7eac39 inset, 0 0 0 0 #7eac39;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.order_btn:hover {
    box-shadow: 0 0 10px 0 #7eac39 inset, 0 0 10px 4px #7eac39;
    color: #7eac39;
}
.total-price {
    text-align: center !important;
    font-weight: bold;
    font-size: 27px;
}
.total-button {
    margin: 20px 40px auto;
    float: right;
}
.total-text {
    background-color: transparent !important;
    font-size: 16px !important;
}

.shop_box {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 48%;
    height: auto;
    max-height: 164px;
}

.shop_box > img {
    width: 25%;
    border-right: 1px solid #ccc;
    min-width: 163px;
}

.shop_box .box_content {
    width: 100%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_box .func_wrapper {
    width: 40%;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_box .box_content > div {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.shop_box .box_content > h2,
.shop_box .box_content > h5 {
    padding: 5px 10px;
}

.shop_box .box_content > h2 {
    font-size: 24px;
}

.shop_box .func_wrapper > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.shop_box .func_wrapper button {

}

.shop_box .box_content button {
    width: 100%;
    font-size: 12px;
    background-color: #7eac39;
    color: #fff;
    border: transparent;
    padding: 7px 10px;
    position: relative;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
}

.shop_box .box_content button:before {
    content: '';
    background-color: #f06f30;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.shop_box .box_content button:hover:before {
    transform: scaleX(1);
}

.shop_box .box_content > div > span.quant_measure {
    font-size: 12px;
}

.min_plu_icon {
    display: inline-block;
}

.min_plu_icon.plus {

}

.min_plu_icon.minus {

}

.min_plu_icon .fa {
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s ease-in;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* color: #fff; */
}

.min_plu_icon .fa.fa-minus {
    /* background-color: #ee3f2a; */
    border: 2px solid #ee3f2a;
    color: #ee3f2a;
}

.min_plu_icon .fa.fa-plus {
    /* background-color: #7eac39; */
    border: 2px solid #7eac39;
    color: #7eac39;
}

.min_plu_icon .fa:before {
    position: relative;
    z-index: 2;
}

.min_plu_icon:hover .fa:before {
    transition: 0.5s ease-in;
    transform: scale(1.5);
    color: #fff;
}

.min_plu_icon .fa:after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    z-index: 1;
}

.min_plu_icon:hover .fa:after {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

.min_plu_icon:hover .fa.fa-plus:after {
    background-color: #7eac39;
}

.min_plu_icon:hover .fa.fa-minus:after {
    background-color: #ee3f2a;
}

.min_plu_icon:hover .fa {
    color: #fff;
}

@media (max-width: 767px) {
    .shop_box .box_content > h2 {
        font-size: 20px;
    }
    .shop_box {
        width: 100%;
    }
}

@keyframes aaa {
    0% {
        
        top: -110%;
        left: 90%;

    } 50% {

        top: 10%;
        left: -30%;

    } 100% {

        top: -10%;
        left: -10%;

    }
}




