.breadcrumb-section.set-bg {
  background-image: url('../../assets/img/breadcrumb.jpg');
}

.map {
  margin-top: 45px;
}

.contact-form form input {
  margin-bottom: 10px;
}

.contact-form form small {
  font-size: 14px;
}

.contact-form form .form-group label {
  font-size: 16px;
  font-weight: normal;
}





