.breadcrumb-section.set-bg {
  background-image: url('../../assets/img/breadcrumb.jpg');
}

.map {
  margin-top: 45px;
}

.contact-form form input {
  margin-bottom: 10px;
}

.contact-form form small {
  font-size: 14px;
}

.contact-form form .form-group label {
  font-size: 16px;
  font-weight: normal;
}

.form_container {
  width: 45%;
  margin: 0 auto;
}

.form_btn {
  background-color: #f06f30;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #f06f30;
  font-size: 16px;
  margin-left: 10px;
}

.form_btn:disabled {
  background-color: #6d6d6d;
  border: 1px solid #6d6d6d;
  color: #a2a2a2;
}

.second_form_container {
  width: 85%;
  margin: 0 auto;
}

.success_msg_container {
  border: 3px solid #5c9407;
  padding: 15px;
  border-radius: 10px;
  text-align : center;
}

.success_msg_container img {
  width: 30px;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.success_msg_container p {
  color: #5c9407;
  font-size: 18px;
  margin-bottom: 0;
}

.map {
  height: 320px;
  margin-top: 20px;
}

.map .map-inside {
  top: 3px;
}

.map .map-inside .inside-widget:after {
  display: none;
}

.contact-form {
  padding-top: 25px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 0 !important;
}

::ng-deep .mat-step-header .mat-step-label {
  min-width: 0 !important;
}


@media (max-width: 767px) {
    .form_container {
      width: 90%;
    }
}

.order_btn {
  border-color: #7eac39;
  color: #fff;
  box-shadow: 0 0 40px 40px #7eac39 inset, 0 0 0 0 #7eac39;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: inline-block;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.order_btn:hover {
  box-shadow: 0 0 10px 0 #7eac39 inset, 0 0 10px 4px #7eac39;
  color: #7eac39;
}
.order_btn:focus{ 
  border: none;
  outline-color: transparent;
}
