.breadcrumb-section.set-bg {
    background-image: url('../../assets/img/breadcrumb.jpg');
}

.product {
    padding-top: 30px;
    padding-bottom: 80px;
}

.filter__item {
    border-top: none;
}

.hero__categories__all:after {
    display: none;
}

.product__item__pic {
    background-color: transparent;
    position: relative;
    border: 6px solid #f58b36;
    border-radius: 15px;
}

.product__item__pic > img.thumb_img {
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
}

.product__item__pic .like_icon_wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    padding: 10px;
    box-sizing: content-box;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;

    /* animation: pulse 2s infinite; */
}

.product__item__pic .like_icon_wrapper.active {
    background-color: #ee3f2a;
    border: 1px solid #ee3f2a;
}

.product__item__pic .like_icon_wrapper:active,
.product__item__pic .like_icon_wrapper:hover {
    animation: pulse 2s infinite;
}

.product__item__pic .like_icon_wrapper img.like_icon {
    width: 20px;
    
}

.product__item__pic__hover {
    position: absolute;
    left: 0;
    /* top: 0; */
    right: 0;
    bottom: -100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    padding: 10px;
    border-radius: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.product__item:hover .product__item__pic .product__item__pic__hover {
    bottom: 0;
}

.product__item__pic__hover li {
    background-color: #333;
    padding: 8px;
    border-radius: 50%;
}

.product__item__pic__hover li img {
    width: 15px;
}

.product__item:hover .product__item__pic > img {
    transition: all ease 0.5s;
    transform: scale(1.5);
}

.product__item__pic__hover li {
    cursor: pointer;
    border: 1px solid transparent;
}

.green_bg {
    background-color: #7fad39 !important;
    border: 1px solid #fff !important;
}

/* pulse Animation effect */

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 2px rgba(238, 63, 42, 0.7);
    }

    35% {
        box-shadow: 0 0 0 10px rgba(238, 63, 42, 0.6);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(238, 63, 42, 0.5);
    }

    90% {
        box-shadow: 0 0 0 2px rgba(238, 63, 42, 0.7);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0);
    }
}





