<div (scroll)="scrollHandler($event)">
<!-- Breadcrumb Section Begin (scroll)="scrollHandler($event)" -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Organi Shop</h2>
                  <div class="breadcrumb__option">
                      <a href="./index.html">Home</a>
                      <span>Shop</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="hero__categories">
                  <div class="hero__categories__all">
                      <span>All Categories</span>
                  </div>

                  <section class="example-section">
                    <div *ngFor="let item of categoryArr;">
                        <span class="example-list-section">
                            <mat-checkbox class="example-margin"
                                [value]="item.main_category"
                                [checked]="item.checked"
                                (change)="selectAll($event)">
                                {{item.main_category}}
                            </mat-checkbox>
                        </span>
                        <span class="example-list-section">
                            <ul>
                                <li *ngFor="let subItem of item.sub_category"
                                    >
                                    <mat-checkbox [value]="subItem.name" 
                                        [checked]="subItem.checked" 
                                        (change)="selectSingle($event)">
                                        {{subItem.name}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </span>
                    </div>
                  </section>
                  
              </div>
          </div>
          <div class="col-lg-9 col-md-7">
              <!-- <div class="product__discount">
                  <div class="section-title product__discount__title">
                      <h2>Sale Off</h2>
                  </div>
              </div> -->
              <!-- <div class="filter__item">
                  <div class="row">
                      <div class="col-lg-4 col-md-5">
                          <div class="filter__sort">
                              <span>Sort By</span>
                              <select>
                                  <option value="0">Default</option>
                                  <option value="0">Default</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="filter__found">
                              <h6><span>16</span> Products found</h6>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-3">
                          <div class="filter__option">
                              <span class="icon_grid-2x2"></span>
                              <span class="icon_ul"></span>
                          </div>
                      </div>
                  </div>
              </div> -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of productList">
                    <div class="product__item">
                        <!-- [style.backgroundImage]="'url(assets/'+ item.image_url +')'" -->
                        <div class="product__item__pic set-bg">
                            <img class="thumb_img" [src]="'assets/'+ item.image_url" />
                            <div class="like_icon_wrapper" (click)="shoppedProduct(item.product_id)" [ngClass]="{'active': item.shopped === true}">
                                <img *ngIf="item.shopped === false" class="like_icon" src="assets/img/icons/light-grey-shopping-outline.svg" /> 
                                <img *ngIf="item.shopped === true" class="like_icon" src="assets/img/icons/white-shopping-outline.svg" /> 
                            </div>
                            <!-- <img class="like_icon" src="assets/red-heart-outline.svg" /> -->
                            <ul class="product__item__pic__hover d-none">
                                <li [ngClass]="{'green_bg': item.liked === true}" (click)="likeProduct(item.product_id)">
                                    
                                    <img *ngIf="item.liked === false" src="assets/img/icons/white-heart-outline.svg" />
                                    <img *ngIf="item.liked === true" src="assets/img/icons/white-heart-fill.svg" />
                                
                                </li>

                                <li>
                                    
                                    <img src="assets/img/icons/white-retweet.svg" />
                                    
                                </li>

                                <li [ngClass]="{'green_bg': item.shopped === true}" >
                                    
                                    <img *ngIf="item.shopped === false" src="assets/img/icons/white-shopping-outline.svg" />
                                    <img *ngIf="item.shopped === true" src="assets/img/icons/white-shopping-cart.svg" />

                                </li>
                                
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"> {{item.product_name}} </a></h6>
                            <h5> &euro; {{item.price}} </h5>
                        </div>
                    </div>
                </div>
            </div>

          </div>
      </div>
  </div>
</section>
<!-- Product Section End -->
</div>

