.breadcrumb-section.set-bg {
    background-image: url('../../assets/img/breadcrumb.jpg');
}

.product {
    padding-top: 30px;
    padding-bottom: 80px;
}

.filter__item {
    border-top: none;
}

.hero__categories__all:after {
    display: none;
}




