 <!-- Humberger Begin -->
 <div class="humberger__menu__overlay" [ngClass]="{'visibility_visible': openMenuParam}" (click)="closeMobileMenu()"></div>
 <div class="humberger__menu__wrapper" [ngClass]="{'visible_menu': openMenuParam}">
     <div class="humberger__menu__logo">
         <a [routerLink]="['/home']"><img src="assets/img/logo.png" alt=""></a>
     </div>
     <nav class="humberger__menu__nav mobile-menu" [ngClass]="{'d-block': openMenuParam}">
         <ul>
             <li routerLinkActive="active">
                 <a [routerLink]="['/home']" (click)="closeMobileMenu()">Home</a>
             </li>
             <li routerLinkActive="active">
                 <a [routerLink]="['/products']" (click)="closeMobileMenu()">Shop</a>
             </li>
             <li routerLinkActive="active" class="mb-5">
                 <a [routerLink]="['/contact']" (click)="closeMobileMenu()">Contact</a>
             </li>
             <li (click)="goToShopList('shopped')" class="mb-5"> 
                <div class="position-relative d-inline-block">            
                    <span *ngIf="shoppedLength" class="number-count"> {{shoppedLength}} </span>
                    <img *ngIf="shopped?.length === 0 || !shopped" class="nav_icon" src="assets/img/icons/green-shopping-outline.svg" />
                    <img *ngIf="shopped?.length > 0" class="nav_icon" src="assets/img/icons/green-shopping-cart.svg" />
                </div>
            </li>
         </ul>
         <h5>0953739158</h5>
     </nav>
     <div id="mobile-menu-wrap"></div>
     
 </div>
 <!-- Humberger End -->

 <!-- Header Section Begin -->
 <header class="header">
     <div class="container">
         <div class="d-flex align-items-center justify-content-between">
             <div class="col-lg-1 col-xs-3">
                 <div class="header__logo">
                     <a [routerLink]="['/home']"><img src="assets/img/logo.png" alt=""></a>
                 </div>
             </div>
             <div class="col-lg-8 hidden-xs">
                <marquee><h1 class="grow-title" data-text="Le marche de garlande">Le marche de garlande</h1></marquee>
            </div>
             <div class="col-lg-2">
                 <nav class="header__menu">
                     <ul class="d-flex justify-content-end">
                         <li routerLinkActive="active"><a [routerLink]="['/home']">Accueil</a></li>
                         <li routerLinkActive="active"><a [routerLink]="['/products']">Produits</a></li>
                         <li class="position-relative" (click)="goToShopList('shopped')"> 
                            
                                <span *ngIf="shoppedLength" class="number-count"> {{shoppedLength}} </span>
                                <img *ngIf="shopped?.length === 0 || !shopped" class="nav_icon" src="assets/img/icons/green-shopping-outline.svg" />
                                <img *ngIf="shopped?.length > 0" class="nav_icon" src="assets/img/icons/green-shopping-cart.svg" />
                            
                        </li>
                     </ul>
                 </nav>
             </div>
         </div>
         <div class="humberger__open" (click)="openMenu()">
             <img src="assets/img/icons/grey-open-menu.svg" />
         </div>
     </div>
 </header>
 <!-- Header Section End -->






