
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/slide1.jpg" alt="First slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/slide2.jpg" alt="Second slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/spirits1.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/sprits2.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopPage()">
      <img class="d-block w-100" src="assets/img/sprits3.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> Le Marché De Garlande </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopTRgateau()">
      <img class="d-block w-100" src="assets/img/cake1.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> TR gâteau </h3>
        </div>
    </div>
    <div class="carousel-item" (click)="goToShopTRgateau()">
      <img class="d-block w-100" src="assets/img/cake2.jpg" alt="Third slide">
      <div class="carousel-caption">
          <!-- <h3>Votre source de motivation est l’ingrédient qui peut faire toute la différence</h3> -->
          <!-- <p>LA is always so much fun!</p> -->
          <h3> TR gâteau </h3>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédente</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>


<div class='container-fluid custom-owl-carousel'>
<owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item" (click)="goToShopPage()" *ngFor="let item of products" style="text-align:center;">
    <div style="align-content: center; cursor: pointer;">
        <img style="height: 300px;width:300px;border-radius: 150px;"src={{item.img}}/>
        <h4> {{item.proName}} </h4>
    </div>
  </div>
</owl-carousel>
</div>

<h1 style="text-align: center;">TR Gâteau</h1>

<div class='container-fluid custom-owl-carousel' style="padding-bottom: 30px">
  <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']" >
    <div class="item" (click)="goToShopTRgateau()" *ngFor="let item of productsCake" style="text-align:center;">
      <div style="align-content: center; cursor: pointer;">
          <img style="height: 300px;width:300px;border-radius: 150px;"src={{item.img}}/>
          <h4> {{item.proName}} </h4>
      </div>
    </div>
  </owl-carousel>
  </div>







